body {
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images2.alphacoders.com/135/1351279.png');
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background-color: #000000c0;
    color: #ebebeb;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
}

header p {
    font-size: 1em;
}

main {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card {
    display: flex;
    justify-content: center;
    width: 60%;
    max-width: 720px;
    margin: 20px 0;
}

#poke {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-align: center;
    background-color: #ffffffbb;
    border-radius: 30px;
    padding: 10px;
}

#pokemon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 20px;
    width: 70vw;
}

#pokemon div:hover {
    background-color: #e0fff8;
    transform: scale(1.03);
}

#pokemon div {
    text-align: center;
    padding: 10px;
    background-color: #ffffffbb;
    border-radius: 10px;
}

#pokemon img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
}

#pokemon div p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

footer {
    background-color: #000000c0;
    color: #ebebeb;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

footer p {
    margin: 5px 0;
    font-size: 1em;
}

button {
    color: #fff;
    border: none;
    margin: 5px;
    background-color: #222222e9;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    border: solid #222222e9;
}

button:hover {
    color: #222222e9;
    background-color: #ffffffdd;
    transform: scale(1.05);
    border: solid #222222e9;
}

select {
    margin: 20px;
    width: 300px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #f6e7f3;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

select:focus {
    border-color: #282828;
    outline: none;
}

#descricao {
    color: white;
    width: 500px;
    background-color: #000000ce;
    border-radius: 30px;
}

